/*
* Project Name: Github Profile -
* Author: Lee Mandell
*/

/*
Table of Contents
  =01 Reset/Global Defaults
  =02 Typography
  =03 Nav
  =04 Layout
*/

/***** =01 Reset/Global Defaults *****/
/* Global vars */
:root {
	--clr-text-primary: hsl(8, 100%, 6%);
	--clr-text-secondary: hsl(11, 73%, 35%);
	--clr-link: hsl(11, 73%, 37%);
	--clr-hrule1: hsl(18, 37%, 61%);
	--clr-hrule2: hsl(21, 40%, 55%);
	--clr-hrule3: hsl(20, 85%, 37%);
}

/*
	This reset is based on: https://hankchizljaw.com/wrote/a-modern-css-reset/
	& influenced by remedies.css
*/
/* #region */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
/* Added h5 and h6 for completeness  */
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}

/*
	Make images easier to work with
	Removed because its handled below in the remedies section
*/

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/*
	Remove all animations and transitions for people that prefer not to see them
	NOTE: this doesn't turn-off the animation, just makes it really, really fast.
 */
@media (prefers-reduced-motion: reduce) {
	* {
		transition-duration: 0.01ms !important;
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;

		scroll-behavior: auto !important;
	}
}

/* #endregion */
/* end of Andy Bell modern reset */

/*  from remedies.css (partial) */
/* #region */
/*
* 1. Solid, thin horizontal rules
* 2. Remove Firefox `color: gray`
* 3. Remove default `1px` height, and common `overflow: hidden`
*/
hr {
	border-style: solid;
	border-width: 1px 0 0;
	color: inherit;
	height: 0;
	overflow: visible;
}

/* Embedded Elements
********************/

/*
* 1. Block display is usually what we want
* 2. Remove strange space-below when inline
* 3. Responsive by default
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
	line-height: 0.1;
	max-width: 100%;
}

/*
* Maintain intrinsic aspect ratios when `max-width` is applied
* (iframe, embed, and object have no intrinsic ratio, set height explicitly)
*/
img,
svg,
video,
canvas {
	height: auto;
}

/*
* There is no good reason elements default to 300px,
* and audio files are unlikely to come with a width attribute
*/
audio {
	width: 100%;
}

/* Old Browsers
***************/

/* Remove the border on images inside links in IE 10 and earlier */
img {
	border-style: none;
}

/* Hide the overflow in IE 10 and earlier */
svg {
	overflow: hidden;
}

/* Default block display on HTML5 elements */
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}

/*
* 1. Add the correct box sizing in IE 10
* 2. Remove the padding in IE 10
*/
[type='checkbox'],
[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}

/* #endregion */

a img {
	display: inline;
}

p,
ul,
ol {
	margin-bottom: 1em;
}

/* From: https://css-tricks.com/two-issues-styling-the-details-element-and-how-to-solve-them/ */
details summary {
	cursor: pointer;
}

details summary>* {
	display: inline;
}

/* Helper classes */
/* #region */
:is(a, button, input, textarea, summary) {
  --outline-size: max(2px, 0.08em);
  --outline-style: solid;
  --outline-color: currentColor;
}

:is(a, button, input, textarea, summary):focus {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus-visible {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus:not(:focus-visible) {
  outline: none;
}

.me-hide {
	display: none;
}

.no-css {
	display: none;
}
a[rel="noreferrer noopener"]::after {
	content: url('data:image/svg+xml; utf8, <svg width="1em" height="1em" class="icon-svg" fill="none" stroke="brown" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="title desc"> <title>External link icon</title> <desc id="desc">box with an arrow pointing to the upper right</desc> <path id="icon-ext-link" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" /></svg>');
	margin-left: 0.15em;
	white-space: nowrap;
}

#skip-frame {
	display: flex;
}

#skip-frame a {
	display: block;
	position: absolute;
	right: 0;
	top: -5rem;
	padding: 0.5rem 1rem 1rem;
	font-size: 90%;
	font-weight: bold;
	color: white;
	background: var(--clr-text-secondary);
	border-radius: 0 0 16px 16px;
	z-index: 1;
	transition: top 300ms ease-in-out;
}

#skip-frame a:focus {
	top: 0;
	transition: top 300ms ease-in-out;
}

a span.visually-hidden {
	display: none;
}

.visually-hidden {
	clip: rect(0, 0, 0, 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* #endregion */

/***** =02 Typography *****/
/* #region */
html {
	overflow-y: scroll;
	color: #222;
	color: var(--clr-text-primary);
	font-size: 100%;
	font-family: sans-serif;
	line-height: 1.2;
}

body {
	font-size: 1rem;
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.25em;
	font-weight: 200;
	line-height: 1.2;
	line-height: calc( 0.2rem + 1em);
}

.branding h1 {
	margin: -2px 0 0 -4px;
	font-size: 2em;
	font-weight: 500;
	line-height: .75;
	letter-spacing: 1px;
}

.sub-hed {
	margin-top: -6px;
	z-index: -1;
}

.sub-hed .tagline {
	font-size: 65%;
	font-size: clamp(0.65em, 3vw, 1em);
	font-style: italic;
	margin-bottom: 0;
}

.tagline {
	color: hsl(11, 73%, 37%);
}

h2 {
	font-size: 2em;
	font-weight: 200;
	color: var(--clr-text-secondary);
}

h3 {
	color: var(--clr-hrule3);
}

h4 {
	font-weight: normal;
}

/* From Adam Argyle - https://twitter.com/argyleink/status/1316143837903896577 */
:is(h1, h2, h3, h4, h5, h6).tight {
	margin-block: 0;
}

a {
	font-weight: 400;
	color: var(--clr-link);
	text-decoration: none;
}

a .icon-svg {
	color: var(--clr-link);
}

a:hover {
	text-decoration: underline;
}

.content-frame {
	font-weight: 300;
	font-size: 1.25em;
	color: #111;
}

.callout,
.testimonial {
	font-size: 90%;
	color: var(--clr-text-secondary);
}

main details p {
	margin-top: 0.5rm;
	padding: 0.75em;
	font-size: .875em;
}

main details {
	margin-bottom: 0.5em;
}

main details li {
	line-height: 1.35;
	padding-bottom: 0.5em;
}
.page-footer {
	font-size: 85%;
	color: hsl(11, 73%, 37%);
	line-height: 1.1;
	text-align: center;
}

@media screen and (min-width: 37.5em) {
	.barnding h1 {
		margin: -4px 0 0 -2px;
		font-size: 1.5em;
		font-size: clamp(1.25em, 3.25vw, 1.825em);
		letter-spacing: 1px;
		transition: font-size 0.25s ease;
	}

	h2 {
		font-size: 1.5em;
	}
}

/* #endregion */

/***** =03 Navigation *****/
/* #region */
.nav-primary {
	grid-row: 1;
	grid-column: 2;
	margin-top: 1.5em;
	margin-right: 4vw;
	font-weight: 400;
	text-align: right;
}

.nav-primary .nav-frame {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.nav-primary li {
	margin-bottom: 0.5em;
}

.nav-primary li:last-child {
	border-top: 2px dotted var(--clr-text-secondary) ;
	margin-top: 0.75em;
	padding-top: 0.75em;
}

.nav-primary a {
	padding: 0.25em 0.35em;
}

@media screen and (min-width: 37.5em) {
	.nav-primary {
		margin-right: 0;
	}

	.nav-primary .nav-frame {
		flex-direction: row;
	}

	.nav-primary li {
		padding: 0 0.25em;

	}

	.nav-primary li:last-child {
		margin-top: 0;
		padding: unset;
		border: none;
	}

	.nav-primary li:last-child::before {
		content: "||";
		color: var(--clr-text-secondary);
		margin: 0 0.75em;
	}
}

/* #endregion */

/***** =04 Layout *****/
/* #region */
.page-frame {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

.page-header {
	margin-bottom: 0.25em;
	padding-top: 1em;
	display: grid;
	grid-template-columns: 1fr max-content;
	display: -ms-grid;
	-ms-grid-columns: 1fr max-content;
}

.branding {
	border-left: 3px solid black;
}

.sub-hed {
	grid-column: 1 / -1;
	grid-row: auto;
}

.colored-hrule {
	height: 2px;
	margin-top: 0.25em;
	background-color: hsl(20, 85%, 37%);
	display: grid;
	grid-template-columns: 22.25% 22.25% auto;
}

.colored-hrule span:first-child {
	background-color: hsl(18, 37%, 61%);
}

.colored-hrule span:nth-child(2) {
	background-color: hsl(21, 40%, 55%);
}

.content-frame {
	padding: 2em 6vw 1em;
	transition: padding 0.35s ease-in;
}

section section {
	margin-bottom: 1em;
}

.callout,
.testimonial {
	margin-bottom: 1em;
	padding: 1em;
	background-color: hsl(33, 45%, 95%);
	border-radius: 0.5em;
}

.testimonial p:last-of-type,
.callout p:last-child {
	margin-bottom: 0;
}

.testimonial figcaption {
	text-align: right;
}

.page-footer {
	margin-top: 1em;
}


@media screen and (min-width: 37.5em) {
	.branding img {
		width: 15vw;
		max-width: 135px;
	}
}

@media screen and (min-width: 50em) {
	.content-frame {
		padding: 2em 4em 1em;
		transition: padding 0.35s ease-in;
	}
}
/* #endregion */